/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Color Variables

$button-default: #51ddfc;
$button-success: #63cc82;
$button-error: #e4757a;
$button-warning: #fd7856;
$button-info: #927bc1;

// Media query breakpoints

$brk-narrow: '(min-width: 768px)';